
a.zocial.franceconnect-particulier {
    background-image: url("../img/FCboutons-12.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 224px;
    height: 56px;
}

a.zocial.franceconnect-particulier:hover {
    background-image: url("../img/FCboutons-13.png") !important;
}

a.zocial.franceconnect-particulier span {
    display:none;
}

#kc-header-wrapper {
    background-image: url(../img/logo-marianne.png);
    background-repeat: no-repeat;
    background-position: 40px 10px;
}

@media (max-width: 767px) {

    #kc-header-wrapper {
        background: none;
    }
}

